<h4>Sơ lược</h4>
<p style="text-align: justify;">Với hơn 10 năm vận hành các khai thác tuyến đường QL1A, QL14 với hàng ngàn lượt vận chuyển hành khách. Chúng tôi luôn đảm bảo sự thoải mái, tiện nghi, giá cả phải chăng khi sử dụng dịch vụ của chúng tôi.</p>
<h4>Liên hệ</h4>
<ul>
    <li>Số điện thoại: 038xxxxxxx123</li>
    <li>Email: contact@xxx.com</li>
    <li>Trụ sở chính: Bình Thạnh, Hồ Chí Minh</li>
</ul>
<h4>Các chính sách đặt vé, đổi vé, hủy vé</h4>
<h5>Đặt vé</h5>
<p style="text-align: justify;">Khách hàng có thể lựa chọn tuyến đường, chuyến xe, thời gian, chỗ ngồi thuận tiện. 
    Chúng tôi cũng cung cấp nhiều phương thức thanh toán khác nhau để nâng cao trải nghiệm cho khách hàng. </p>
<h5>Đổi vé</h5>
<p style="text-align: justify;">Khách hàng chỉ có thể sửa đổi thông tin vé trước khi chuyến xe khởi hành từ 3 tiếng trở lên.</p>
<h5>Hủy vé</h5>
<p style="text-align: justify;">
    Chúng tôi cho phép quý khách hàng hủy vé, tuy nhiên có một số lưu ý như sau:
    + Nếu khách hàng hủy trước ngày chuyến xe khởi hành từ 3 ngày trở lên => hủy miễn phí.
    + Nếu khách hàng hủy trong khoảng 4 tiếng đến 2 ngày trước khi chuyến xe khởi hành => hủy và hoàn 95% tiền vé.
    + Nếu khách hàng hủy trong khoảng 5 phút đến 4 tiếng trước khi chuyến xe khởi hành => hủy và hoàn 75% tiền vé.
    + Nếu khách hàng hủy ngoài phạm vi thời gian ở bên trên => hủy và hoàn 50% tiền vé.
</p>