<div class="card">
    <h4>Danh sách thành viên</h4>
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th><label for="StudentCode">Mã sinh viên</label> </th>
                <th><label for="Name">Tên sinh viên</label></th>
                <th><label for="Description">Mô tả</label></th>
            </tr>
            <tr>
                <td>2001190432</td>
                <td>Phan Xuân Chánh</td>
                <td><a href="https://www.phanxuanchanh.com/" style="background-color: rgba(0, 0, 0, 0.075);">Xem trang
                        web</a>
                </td>
            </tr>
            <tr>
                <td>2001190600</td>
                <td>Nguyễn Hữu Đông Khanh</td>
                <td>
                    <a href="https://nguyenhuudongkhanh.com">Xem trang web</a><br>
                </td>
            </tr>
            <tr>
                <td>2001190568</td>
                <td>Lê Xuân Huy</td>
                <td>

                </td>
            </tr>
            <tr>
                <td>2001191039</td>
                <td>Trần Thị Hằng</td>
                <td>

                </td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>