<h4>Chào mừng bạn đã quay trở lại!</h4>
<hr/>
<p>Bạn đã đăng nhập thành công vào hệ thống vào lúc {{timestamp}}</p>
<p style="color:red;">Nếu bạn không thực hiện việc đăng nhập này, vui lòng thực hiện các biện pháp để bảo mật tài khoản!</p>