<div class="card mb-3">
    <div class="card-header">
        <h4 class="text-center m-1">THÔNG TIN KHÁCH HÀNG</h4>
    </div>
    <div class="card-body">
        <p>Tên khách hàng: {{{customer.fullname}}}</p>
        <p>Email: {{{customer.email}}}</p>
        <p>Phone: {{{customer.phone}}}</p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h4 class="text-center m-1">MUA VÉ</h4>
    </div>
    <div class="card-body">
        
    </div>
</div>